@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #f73b20;
  --secondary-blue: #377dff;
  --secondary-green: #38cb89;
  --secondary-orange: #ffab00;
  --secondary-red: #ff5630;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quick-sand);

  --color-primary: var(--primary);
  --color-secondary-blue: var(--secondary-blue);
  --color-secondary-green: var(--secondary-green);
  --color-secondary-orange: var(--secondary-orange);
  --color-secondary-red: var(--secondary-red);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quick-sand), Arial, Helvetica, sans-serif;
}

.wrapper {
  @apply container mx-auto px-4 md:px-10 xl:px-6;
}
